<launch>

<arg name="rtabmapviz"   default="true"/>
<arg name="localization" default="true" />
<arg name="imu_topic"       default="/rs_camera/imu"/>
<arg name="frame_id"        default="base_footprint"/>       <!-- base frame of the robot: for this example, we use velodyne as base frame -->
<arg name="queue_size"      default="10"/>
<arg name="queue_size_odom" default="1"/>
<arg name="loop_ratio"      default="0.2"/>

<arg name="database_path" default="$(find taiga_maps)/3d_maps/new_map.db" />


<arg if="$(arg localization)" name="args" default="" />
<arg unless="$(arg localization)" name="args" default="--delete_db_on_start" />

<arg name="resolution"         default="0.4"/> <!-- set 0.05-0.3 for indoor, set 0.3-0.5 for outdoor -->
<arg name="iterations"         default="10"/>

<!-- Grid parameters -->
<arg name="ground_is_obstacle" default="false"/>
<arg name="grid_max_range"     default="20"/>

<!-- Generate depth image from scan_cloud -->
<arg name="gen_depth"                  default="true" /> 
<arg name="gen_depth_decimation"       default="1" />
<arg name="gen_depth_fill_holes_size"  default="0" />
<arg name="gen_depth_fill_iterations"  default="1" />
<arg name="gen_depth_fill_holes_error" default="0.1" />

  <group ns="rtabmap">
    
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"        to="/rs_camera/color/image_raw"/>
      <remap from="depth/image"      to="/rs_camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info"  to="/rs_camera/color/camera_info"/>
      <remap from="rgbd_image"       to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/> 
    </node>

    <!-- Odometry -->
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="log">
      <param name="subscribe_rgbd" type="bool"   value="true"/>
      <param name="frame_id"       type="string" value="base_footprint"/>
      <remap from="rgbd_image" to="rgbd_image"/>
      
      <remap from="odom"            to="/taiga/vo"/>
        <!-- <remap from="imu" to="$(arg imu_topic)" /> -->
        <param name="publish_tf"             type="bool"   value="false"/>
        <param name="publish_null_when_lost" type="bool"   value="true"/>
        <param name="Reg/Force3DoF" type="bool" value="true" />
        <param name="Odom/FillInfoData"      type="string" value="true"/>
        <param name="Odom/ResetCountdown"    type="string" value="3"/>
        <param name="OdomF2M/MaxSize"        type="string" value="1000"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg args)">

        <param name="database_path" type="string" value="$(arg database_path)" />
        <param name="frame_id"        type="string" value="base_footprint"/>
        <param name="odom_frame_id" type="string" value="odom" />

        <param name="subscribe_depth"      type="bool" value="false"/>
        <param name="subscribe_rgb"        type="bool" value="true"/>
        <param name="subscribe_scan_cloud" type="bool" value="true"/>
        <param name="approx_sync"          type="bool" value="true"/>
        <param name="wait_for_transform_duration" type="double" value="0.2"/>

        <remap from="scan_cloud" to="/lslidar_point_cloud/filtered"/>
        <remap from="rgb/image" to="/rs_camera/color/image_raw"/>
        <remap from="rgb/camera_info" to="/rs_camera/color/camera_info"/>
        <!-- <remap from="imu"        to="$(arg imu_topic)/filtered"/> -->
        <remap from="gps/fix"        to="/ublox/fix"/>
        <remap from="odom"            to="/taiga/odometry/filtered/local"/>



        <!-- RTAB-Map's parameters -->
        <param name="Rtabmap/DetectionRate"          type="string" value="1"/>
        <param name="RGBD/NeighborLinkRefining"      type="string" value="false"/>
        <param name="RGBD/ProximityBySpace"          type="string" value="true"/>
        <param name="RGBD/ProximityMaxGraphDepth"    type="string" value="0"/>
        <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="1"/>
        <param name="RGBD/AngularUpdate"             type="string" value="0.05"/>
        <param name="RGBD/LinearUpdate"              type="string" value="0.05"/>
        <param name="Mem/NotLinkedNodesKept"         type="string" value="false"/>
        <param name="Mem/STMSize"                    type="string" value="30"/>
        <param name="Mem/LaserScanNormalK"           type="string" value="20"/>
        <param name="Vis/MinInliers" type="string" value="10"/> 

        <param name="Reg/Strategy"                   type="string" value="1"/>
        <param name="Grid/CellSize"                  type="string" value="$(arg resolution)"/>
        <param name="Grid/RangeMax"                  type="string" value="$(arg grid_max_range)"/>
        <param name="Grid/ClusterRadius"             type="string" value="1"/>
        <param name="Grid/GroundIsObstacle"          type="string" value="$(arg ground_is_obstacle)"/>
        <param name="Grid/NormalsSegmentation"       type="string" value="false"/>
        <param name="Grid/MaxGroundHeight"            type="string" value="3"/>
        <!-- <param name="Grid/MinGroundHeight"            type="string" value="3"/> -->
        <param name="Grid/RangeMax"            type="string" value="10"/>

        <param name="Optimizer/GravitySigma"         type="string" value="0.3"/>

        <!-- ICP parameters -->
        <param name="Icp/VoxelSize"                  type="string" value="$(arg resolution)"/>
        <param name="Icp/PointToPlaneK"              type="string" value="20"/>
        <param name="Icp/PointToPlaneRadius"         type="string" value="0"/>
        <param name="Icp/PointToPlane"               type="string" value="true"/>
        <param name="Icp/Iterations"                 type="string" value="$(arg iterations)"/>
        <param name="Icp/Epsilon"                    type="string" value="0.001"/>
        <param name="Icp/MaxTranslation"             type="string" value="3"/>
        <param name="Icp/MaxCorrespondenceDistance"  type="string" value="$(eval resolution*10)"/>
        <param name="Icp/PM"                         type="string" value="true"/>
        <param name="Icp/PMOutlierRatio"             type="string" value="0.7"/>
        <param name="Icp/CorrespondenceRatio"        type="string" value="$(arg loop_ratio)"/>

        <!-- localization mode -->
        <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false" />
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true" />
        <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)" />


        <param name="gen_depth"                  type="bool"   value="$(arg gen_depth)" />
        <param name="gen_depth_decimation"       type="int"    value="$(arg gen_depth_decimation)" />
        <param name="gen_depth_fill_holes_size"  type="int"    value="$(arg gen_depth_fill_holes_size)" />
        <param name="gen_depth_fill_iterations"  type="int"    value="$(arg gen_depth_fill_iterations)" />
        <param name="gen_depth_fill_holes_error" type="double" value="$(arg gen_depth_fill_holes_error)" />
    </node>


    <node if="false" name="rtabmap_viz" pkg="rtabmap_viz" type="rtabmap_viz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
        <param name="subscribe_depth" type="bool" value="false" />
        <param name="subscribe_rgbd" type="bool" value="true" />
        <!-- <param name="subscribe_scan" type="bool" value="true" /> -->
        <param name="subscribe_odom_info" type="bool" value="true" />
        <param name="frame_id" type="string" value="base_footprint" />
        <param name="approx_sync" type="bool" value="false" />
        <!-- <remap from="rgbd_image" to="$(arg rgbd_topic)" /> -->
        <!-- <remap from="scan" to="/scan" /> -->
        <!-- <remap from="odom" to="$(arg odom_topic)" /> -->
    </node>


    <node if="$(arg rtabmapviz)" name="rtabmap_viz" pkg="rtabmap_viz" type="rtabmap_viz" output="screen">
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="odom_frame_id" type="string" value="odom"/>
        <param name="subscribe_odom_info" type="bool" value="true"/>
        <param name="subscribe_scan_cloud" type="bool" value="true"/>
        <param name="approx_sync" type="bool" value="false"/>
        <remap from="scan_cloud" to="/lslidar_point_cloud/filtered"/>
        <remap from="odom_info" to="odom_info"/>
     </node>
  </group>
</launch>
<!-- Note that we set `approx_sync` to false for `rtabmap` node to make sure it uses exactly the `odom` computed with the same `rgbd_image` topic. -->