<?xml version="1.0"?>
<launch>

  <!-- <include file="$(find taiga_software)/launch/drivers/imu_filter.launch">
    <arg name="in_topic" value="rs_camera/imu" />
    <arg name="out_topic" value="rs_camera/imu/filtered" />
  </include> -->

  <include file="$(find taiga_vision)/launch/drivers/rtabmap_velodyne.launch"></include>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find taiga_vision)/rviz/full_view_rs_lidar.rviz" output="screen"/>
  </launch>

<!-- /rs_camera/depth/color/points -->